.App {
  text-align: center;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}
.res {
  text-align: center;
}
.nav-ul li a {
  color: rgb(215, 207, 201);
  padding: 5px;
  text-decoration: none;
}
.nav-ul li a:hover {
  color: rgb(238, 17, 17);
}

.nav-ul {
  padding: 7px;
  margin: 0;
  background-color: rgb(20, 18, 173);
}
.error {
  display: block;
  color: red;
  margin-top: -25px;
  margin-left: -70 px;
}
.success {
  color: green;
}
.product-list {
  text-align: center;
  margin-top: 50px;
}
.product-list ul li {
  display: inline-block;
  border: 1px solid blueviolet;
  padding: 5px;
  width: 150px;
}
.product-list ul {
  margin: 0;
}
.search {
  width: 400px;
  margin: 20px;
  height: 30px;
  border: 5px solid skyblue;
  padding-left: 30px;
}
.about1 {
  justify-content: start;
  text-shadow: #7e8d7e;
  padding: 5%;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(20, 18, 173);
}

.link {
  text-decoration: none;
  background-color: #7e8d7e;
  color: white;
  margin-left: 5px;
  outline: solid;
  border-color: black;
}
.logo {
  width: 75px;
  float: left;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 40px;
}
/* .reg{
  margin-left: 30%;
} */
.login {
  /* margin-left: 30%; */
  margin-top: 5%;
}
.input,
.product {
  display: block;
  margin: 25px;
  margin-left: 40%;
  padding: 17px;
  width: 300px;
  border: 1px solid lavenderblush;
}
.btt {
  margin: 25px;
  padding: 10px;
  width: 100px;
  background-color: grey;
  border: 2px solid;
  cursor: pointer;
}
.btt:hover {
  color: blue;
}

@media (max-width: 560px) {
  body {
    text-align: center;
  }
  .footer {
    background-color: rgb(20, 18, 173);
    position: absolute;
    bottom: auto;
    text-align: center;
    width: 100%;
  }
  .input,
  .product {
    display: block;
    margin: 25px;
    margin-left: 20%;
    padding: 14px;
    width: 150px;
    border: 1px solid lavenderblush;
  }
  .product-list ul li {
    display: flex;
    border: 1px solid blueviolet;
    padding-left: 40px;
    width: 200px;

    flex-direction: column-reverse;
  }
  .product-list {
    text-align: center;
    margin-top: 40px;
  }
  .search {
    width: 200px;
    margin: 20px;
    height: 30px;
    border: 5px solid skyblue;
    padding-left: 10px;
  }
}
